.featured-story-container {
  width: 328px;
  height: auto;
  color: black;
  font-family: sans-serif;
}

.featured-header {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.number-container{
  display: flex;
  
}

.number{
    margin-right: 10px;
    font-size: 34px;
    font-weight: 700;
    color: rgba(0,0,0,0.15);
}

/* .story-date{
  padding: 5px 0;
  
} */

.story-index-inline{
  padding: 15px 0 5px 0;
  font-family: sans-serif
}

.name-container{
padding-left: 48px;
}