.follow-button {
  background: none;
  color: #018f69;
  border: 1px solid #018f69;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 2px 10px;
}

.follow-button:hover {
  background: #018f69;
  color: white;
}

.follow {
  display: contents;
}

.unfollow-button {
  background: none;
  color: #018f69;
  border: 1px solid #018f69;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 12px;
  padding: 2px 10px;
}
