.comment-container {
  width: 680px;
  margin: 0 auto;
}

.comment-content {
  font-size: 21px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  margin-top: 2em;
  line-height: 1.58;
}

.comment-form {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* height: 100%; */
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.comment-form-input {
  width: 100%;
  padding: 20px 0;
  background: white;
  color: #484848;
  border: none;
  resize: none;
}

.comment-wrapper {
  background-color: rgb(248, 248, 248);
  padding-top: 30px;
  margin-top: 30px;
}

.comment-container{
  margin: 0 auto;
  background-color: white;
}

.comment-index-container {
  width: 100%;
  padding: 20px 0;
  background: rgb(248, 248, 248);
}

.comment-list-item {
  background: white;
  margin: 10px 0;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.comment-name,
.comment-body {
  padding: 20px 5px;
}

.comment-button {
  padding: 9px 0;
  width: 100px;
  background: white;
  border: 1px solid #7e04b6;
  border-radius: 4px;
  color: #7e04b6;
  font-size: 14px;
}