.comment-container {
  width: 680px;
  margin: 0 auto;
}

.comment-content {
  font-size: 21px;
  color: #484848;
  font-family: "Montserrat", sans-serif;
  line-height: 1.58;
  background-color: #fff;
}

.comment-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin-bottom: 20px;
}

.comment-form-input {
  width: 100%;
  padding: 20px 0;
  background: white;
  color: #484848;
  border: none;
  resize: none;
}

.comment-wrapper {
  background-color: rgb(248, 248, 248);
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 30px;
}

.comment-index-container {
  width: 100%;
  background: rgb(248, 248, 248);
}

.comment-list-item {
  background: white;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}

.comment-name {
  color: #03a87c;
  font-size: 16px;
  margin-bottom: 7px;
}

.comment-button {
  padding: 9px 0;
  width: 100px;
  background: white;
  border: 1px solid #7e04b6;
  border-radius: 4px;
  color: #7e04b6;
  font-size: 14px;
}

.comment-date {
  color: #777777;
  font-size: 14px;
}

.comment-body-container {
  margin-top: 25px;
}

.comment-body {
  font-size: 20px;
  color: #323232;
}
