.story-form {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 1100px;
  margin: 0 auto;
}

.story-form-input {
  max-width: 100%;
  background: white;
  color: #484848;
  border: none;
  margin: 20px 0 5px 0;
  resize: none;
}

.story-form-title {
  font-size: 40px;
}

.publish-button {
  width: 150px;
  border-radius: 4px;
  background: #018f69;
  color: white;
  border: white;
  padding: 10px 10px;
}

.publish-button:hover {

}

/* Image uploader */


.progress-bar{

}

.image-progress{
  font-size: 40px;
}


/* photo uploader */

.file-uploader input[type="file"]{
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    font-size: 30px;
    opacity: 0;
    -moz-opacity: 0;
    width: 53px;

    border: 1px solid black;

}

.file-uploader{
    height: 32px;
    width: 64px;
    position: relative;

    margin-bottom: 90px;
}

.file-uploader img{
  width: 40px;
z-index: 200;
  fill:red;
}

.file-uploader:hover{
    cursor: pointer;
}

.file-uploader:hover{
  cursor: pointer;

}

.show-story-image{
    border: 2px solid green;
    border-radius: 20px;
    margin: auto;
    padding: 0px;
    width: 55%;
    overflow: auto;
}

.hide-story-image{
  display: none;
}


