.story-img {
  height: 100px;
  width: 100px;
}

.story-title {
  font-size: 22px;
  font-weight: 700;
}

.story-body {
  padding: 20px 0;
  color: #777;
}

.story-index-container {
  width: 1100px;
0px auto;
}

.story-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.story-index-list {
  max-width: 650px;
}

.story-index-inline{
  display: inline-block;
  margin-right: 12px;
}

.story-date {
  color: #777;
  font-size: 14px;
}