.user-info-container {
    margin: auto;
    max-width: 30%;
}

.user-description-container {
    display: inline;
    max-width: 80%;
}

.user-description {
    max-width: 80%;
    display: inline-flex;
}

.user-avatar {
    float: right;
    font-size: 80px;
    margin-right: 20px;
    position: relative;
    bottom: 25px;
}

.avatar-container {
    display: inline;
}

.button-container {
    margin-top: 12px;
}

.username {
    margin-bottom: 10px;
    font-size: 30px;
}

.edit-profile {
    margin-left: 20px;
    background: none;
    border: none;
    color: black;
    padding: 3px;
    border: 1px solid black;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 12px;
    padding-left: 3%;
    padding-right: 3%;
}

.edit-profile:hover{
  background: black;
  color: white;
}

.user-story-container {
  width: 1032px;
  margin: auto;
  margin-top: 100px;
}

.user-story-list {
  max-width: 68%;
  margin: auto;
}

.user-show-hr {
    margin-top: 80px;
}

.first-letter{
    font-size: 50px;
    background: blue;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 99px;
    text-align: center;
    padding-top: 23px;
    float: right;
    position: relative;
    bottom: 40px;
    left: 5px;
}