.search-bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.search-input {
  width: 500px;
  border-radius: 3px;
  background-color: #eee;
  border: none;
  outline: none;
  padding: 8px;
}
